<br>
<div class="container">
  <div class="row">
    <label class="col-md-2 control-label">Candy Name</label> 
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder="candy name" [(ngModel)]="currentCandy.name" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-2 control-label">Candy Quantity</label> 
    <div class="col-md-6 form-group">
      <input class="form-control" placeholder="candy quantity" [(ngModel)]="currentCandy.quantity" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-2 control-label">Candy Taste Good?</label> 
    <div class="col-md-6 form-group">
      <input type="checkbox" [(ngModel)]="currentCandy.good" />
    </div>
  </div>
  <div class="row">
    <label class="col-md-2"></label> 
    <div class="col-md-6">
      <button class="btn btn-primary" (click)="addCandy()">Add</button>
    </div>
  </div>
</div>
<br>
<app-candy-list></app-candy-list>
<!-- <div class="container">
  <form class="form-inline">
    <label class="sr-only" for="cName">Candy Name: </label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="cName" placeholder="candy name" [(ngModel)]="currentCandy.name" />
  
    <label class="sr-only" for="cQuant">Candy Quantity:</label>
    <div class="input-group mb-2 mr-sm-2">
      

      
      <input type="text" class="form-control" id="cQuant" placeholder="candy quantity" [(ngModel)]="currentCandy.quantity" />
    </div>
  
    <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" id="cGood" [(ngModel)]="currentCandy.good" />
      <label class="form-check-label" for="cGood">
        candy good?
      </label>
    </div>
  
    <button class="btn btn-primary mb-2" (click)="addCandy()">add</button>
  </form>
</div> -->
<br>