<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Good?</th>
      <th>DELETE?</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let candy of candies">
      <td>{{candy.name}}</td>
      <td>{{candy.quantity}}</td>
      <td>{{candy.good}}</td>
      <td><button class="btn btn-dark" (click)="remove(this)">DELETE?</button></td>
      <td><button class="btn btn-dark" (click)="delete(this)">DELETE?</button></td>
    </tr>
  </tbody>
</table>
</div>
